:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--slate);
}

.menu {
  display: none;
}

.menu-open,
.modal-close-icon {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.page-title,
.features-title,
.team-title,
.portfolio-title,
.link {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}

.team-subtitle,
.contacts {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.container {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
}

.mobil-page-header {
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: center;
}
.web-logo,
.web-logo-2,
.studio-logo,
.studio-logo-2 {
  color: var(--iris);
  font-size: 18px;
  line-height: 1.16;
  font-family: var(--second-family);
  font-weight: 700;
  letter-spacing: 0.03em;
}

.studio-logo {
  color: var(--navy-blue);
}

.is-open-menu {
  display: initial;
  inset: 0;
  background-color: var(--white);
  position: fixed;
  z-index: 998;
}

.menu-wrapper {
  position: relative;
}

.menu-icon-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid var(--cornflower);
  fill: var(--navy-blue);
  border-radius: 50px;
  top: 24px;
  right: 24px;
}

.link {
  color: var(--navy-blue);
}

.active {
  color: var(--ocean);
}

.page-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 72px 153px 168px 16px;
}

.contacts-active {
  color: var(--iris);
}

.address {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  margin-left: 16px;
}

.menu-icon {
  margin-left: 152.6px;
}

.menu-icon-link {
  display: flex;
  color: var(--cloud);
  padding: 8px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-icon-twitter {
  padding: 10px 8px;
}

.menu-icon-facebook {
  padding: 8px 10px;
}

.menu-icon-list {
  display: flex;
  gap: 40px;
  margin-top: 48px;
  justify-content: center;
  align-items: center;
}

.hero-page {
  display: flex;
  flex-direction: column;
  padding: 72px 52px;
  align-items: center;
  justify-content: center;

  background-color: var(--navy-blue);
  background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
    url(../images/hero-bg-mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.button {
  padding: 16px 32px;
  margin-top: 67px;
  margin-left: 23px;

  border: none;
  border-radius: 4px;
  background-color: var(--iris);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus,
.team-icon-link:hover,
.team-icon-link:focus,
.menu-icon-link:hover,
.menu-icon-link:focus {
  background-color: var(--ocean);
  outline: none;
}

.button-text,
.footer-button-input {
  color: var(--white);
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.features-icon-box {
  display: none;
}

.section-features,
.section-portfolio,
.page-footer {
  padding: 96px 16px;
}

.features-list-ul {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-list-li,
.portfolio-container,
.team-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.features-title,
.team-title,
.portfolio-title {
  color: var(--navy-blue);
}

.features-text,
.footer-social-text,
.footer-label,
.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.section-team {
  padding: 96px 28px;
  background-color: var(--cloud);
}

.team-list {
  display: flex;
  margin-top: 72px;
  flex-direction: column;
  gap: 72px;
}

.team-icon-link {
  display: flex;
  padding: 12px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
  display: flex;
  gap: 24px;
}

.team-container {
  padding: 32px 16px;

  justify-content: center;
  align-items: center;

  background-color: var(--white);
}

.team-section {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-ul {
  margin-top: 72px;
  display: flex;
  flex-direction: column;

  gap: 48px;
}

.overlay-text,
.copyright-text {
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-box {
  overflow: hidden;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 420px;
  transform: translateY(100%);
  background-color: var(--iris);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px 164px;
}

.portfolio-hover-area:hover .overlay {
  transform: translateY(0);
}

.portfolio-container {
  padding: 32px 0 32px 16px;
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.portfolio-functions {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.page-footer {
  background-color: var(--navy-blue);
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.studio-logo-2 {
  color: var(--cloud);
}

.footer-logo-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17.5px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 16px;

  align-items: center;
  justify-content: center;
}

.footer-icon {
  display: flex;
  gap: 16px;
}

.footer-icon-link {
  display: flex;

  padding: 8px;
  background-color: var(--iris);
  border-radius: 50px;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: var(--green);
}

.footer-social-text,
.footer-label {
  color: var(--white);
}

.footer-form-container,
.footer-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.footer-form-input {
  outline: none;
  width: 288px;
  height: 40px;
  padding-left: 16px;
  border-radius: 4px;
  background-color: var(--navy-blue);
  border: 1px solid var(--white);
  opacity: 0.3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
  opacity: 0.6;
}

.button-input-container {
  position: relative;
}

.footer-button-input {
  padding: 8px 64px 8px 24px;
  background-color: var(--iris);
  outline: none;
  border: none;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.button-icon {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 24px;
}

.footer-button-input:hover,
.footer-button-input:focus {
  background-color: var(--ocean);
}

.modal {
  display: none;
}

.is-open-modal {
  position: fixed;
  inset: 0;
  background-color: rgba(46, 47, 66, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-form,
.modal-content,
.modal-form-input-container {
  display: flex;
  flex-direction: column;
}

.modal-form {
  background-color: var(--dairy);
  padding: 72px 16px 24px 16px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
}

.modal-form-icon-wrapper {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--cornflower);
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon-wrapper:hover,
.menu-icon-close:hover {
  background-color: var(--ocean);
  fill: var(--white);
}

.form-title {
  text-align: center;
  color: var(--navy-blue);
  max-width: 256px;
}

.modal-form-input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.modal-form-input {
  outline: none;
  border: 1px solid var(--navy-blue-modal);
  width: 256px;
  height: 40px;
  padding-left: 34px;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  top: 32px;
  left: 16px;

  position: absolute;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form,
.modal-content,
.modal-form-input-container {
  display: flex;
  flex-direction: column;
}

.modal-form-input-container {
  gap: 8px;
}

.modal-form-input-wrapper,
.modal-form-textarea-container {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 4px;
}

.form-label,
.modal-form-textarea::placeholder,
.modal-form-label,
.modal-form-input::placeholder,
.modal-form-label-terms {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}
.modal-form-input::placeholder {
  position: absolute;
  top: 12px;
}

.modal-form-textarea {
  border: 1px solid var(--navy-blue-modal);
  width: 256px;
  height: 120px;
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 8px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .form-icon {
  fill: var(--iris);
}

.modal-form-input:focus-within,
.modal-form-textarea:focus-within {
  border-color: var(--iris);
}

.terms-link {
  text-decoration: underline;
  color: var(--iris);
}

.checkbox-container,
.modal-form-label {
  margin-top: 16px;
  align-items: center;
  display: flex;
  gap: 8px;
}

.modal-form-input-checkbox {
  display: none;
}

.modal-form-input-checkbox + .modal-form-label-checkbox {
  display: flex;
  position: relative;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
}

.modal-form-input-checkbox:checked + .modal-form-label-checkbox {
  background-color: var(--iris);
  border-color: var(--iris);
}

.checkbox-icon {
  fill: transparent;
}

.modal-form-input-checkbox + .modal-form-label-checkbox .checkbox-icon {
  display: flex;
  position: absolute;
  inset: 3px 2px;
  width: 10px;
  height: 8px;
  fill: var(--white);
}

.modal-button-input {
  display: flex;
  justify-content: center;
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  background-color: var(--iris);
  outline: none;
  border: none;
  border-radius: 4px;
  margin: 24px 43px;
  margin-bottom: 0;
  transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  color: var(--white);
}

.modal-button-input:hover,
.modal-button-input:focus {
  background-color: var(--ocean);
}

.modal-form-label-terms {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
